<h1>Editing Employee</h1>

<%= form_for @employee, url: api_employee_path do |f| %>
  <% if admin_mode? %>
    <div>
      <%= f.label :id %><br>
      <%= f.text_field :id %>
    </div>
  <% end %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <% if admin_mode? %>
    <div>
      <%= f.label :division %><br>
      <%= f.text_field :division %>
    </div>
  <% end %>
  <div>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div>
    <%= f.label :password, "New Password" %><br>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation, "New Password Confirmation" %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <% if admin_mode? %>
    <div>
      <%= f.label :is_admin, "Make Admin?" %><br>
      <%= f.collection_select :is_admin, Employee::IS_ADMIN, :to_s, :to_s %>
    </div>
  <% end %>

  </br><div>
    <%= f.submit %>
  </div></br>

	<%= link_to 'Show Profile', api_employee_path(@employee) %> |
	<% if admin_mode? %>
    <%= link_to 'Back', api_employees_path %>
  <% else %>
    <%= link_to 'Back to Home', home_path %>
  <% end %>
<% end %>
