<p id="notice"><%= notice %></p>

<% if logged_in? %>
  <td><%= link_to "Admin #{current_user.name}'s Profile", api_employee_path(current_user) %></td>
  <td> | <%= link_to "Log Out", logout_path, method: :delete %></td>
<% end %>

<h1>Listing Employees</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Division</th>
      <th>Address</th>
      <th>Admin Access?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.id %></td>
        <td><%= employee.name %></td>
        <td><%= employee.division %></td>
        <td><%= employee.address %></td>
        <td><%= employee.is_admin %></td>
        <td><%= link_to 'Show', api_employee_path(employee) %></td>
        <td> | <%= link_to 'Edit', edit_api_employee_path(employee) %></td>
        <td> | <%= link_to 'Delete', api_employee_path(employee), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_api_employee_path %></br>
<%= link_to 'Back to Home', root_path %>