<p><%= notice %></p>

<h1>New Employee</h1>

<%= form_for @employee, url: api_employees_path do |f| %>
  <div>
    <%= f.label :id %><br>
    <%= f.text_field :id %>
  </div>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :division %><br>
    <%= f.text_field :division %>
  </div>
  <div>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div></br>

  <div>
    <%= f.submit %>
  </div></br>

  <%= link_to 'Back', api_employees_path %>
<% end %>
