<h1><%= "#{@employee.name}'s Profile" %></h1>

<p>
  <strong>ID:</strong>
  <%= @employee.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Division:</strong>
  <%= @employee.division %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee.address %>
</p>

<%= link_to 'Edit', edit_api_employee_path(@employee) %>
<% if current_user.is_admin == "true" %>
  | <%= link_to 'Back', api_employees_path %>
<% else %>
  | <%= link_to 'Back to Home', home_path %>
<% end %>
