<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @employee.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Division:</strong>
  <%= @employee.division %>
</p>

<p>
  <strong>Authentication:</strong>
  <%= @employee.authentication %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee.address %>
</p>

<%= link_to 'Back', api_employees_path %>
