<p><%= notice %></p>

<h1>New Work Time</h1>

<%= form_for @work_time, url: api_work_times_path do |f| %>
  <div>
    <%= f.label :employee_id %><br>
    <%= f.text_field :employee_id %>
  </div>
  <div>
    <%= f.label :time_of_scan %><br>
    <%= f.datetime_field :time_of_scan %>
  </div>
  <div>
    <%= f.label :time_flag %><br>
    <%= f.text_field :time_flag %>
  </div>
  <div>
    <%= f.label :work_date %><br>
    <%= f.date_field :work_date %>
  </div></br>
  
  <div>
    <%= f.submit %>
  </div></br>

  <% if current_user.is_admin.to_s == "true" %>
    <%= link_to 'Back', api_work_times_path %>
  <% else %>
    <%= link_to 'Back to my work times', api_work_times_path(employee_id: @current_user.id) %>
  <% end %>
<% end %>
