<h1><%= "#{@employee.name}'s work time on #{@work_time.work_date}" %></h1>

<p>
  <strong>Employee ID:</strong>
  <%= @work_time.employee_id %>
</p>

<p>
  <strong>Time of Scan:</strong>
  <%= @work_time.time_of_scan.strftime("%H:%M:%S") %>
</p>

<p>
  <strong>Time Flag:</strong>
  <%= @work_time.time_flag %>
</p>

<p>
  <strong>Work Date:</strong>
  <%= @work_time.work_date %>
</p>

<%= link_to 'Edit', edit_api_work_time_path(@work_time) %>
<%= link_to 'Back', api_work_times_path %>
